
table {
    border-collapse: collapse;
    border: 2px solid black;
}
td {
    border: 2px solid black;
    padding: 4px;
}
thead {
    align-content: center;
    font-weight: bold;
}
.red {
    color: red;
}
.green {
    color: green;
}